  body{
    padding: 0;
    margin: 0;
    background-color: #e3edf7;
  }
  
  ul{
    margin: 0;
    padding: 0;
    float: right;
  }
  
  header{
    color: #ddd;
    background: #353637;
    padding-top: 20px;
    min-height: 50px;
    border-bottom: #2aa553 5px solid;
  }
  
  header a {
    color: #ddd;
    text-decoration: none; 
    font-size: 19px;
  }
  
  header li{
    display: inline;
    padding: 0 20px 0 20px;
  }
  
  header #brand img{
    margin: -50px 30px;
    height: 100px;
    float: left;
    width: auto;
  
  }
  ul #point{
    color: #353637;
  }
  
  header a:hover{
    color: #21ce3e;
  } 
  /* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(23, 141, 52); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dd1b1b; 
  }

  h1{
    color:#000000;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 100px;
  }
  .social_media{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 180px;
  }

  .media a{
    display: flex;
    background-color: #e3edf7;
    width: 75px;
    height: 75px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
  }

  .media a img{
    color: #777777;
  }

  .media img:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(39, 37, 37, 0.2),
    inset -4px -4px 6px -1px rgba(12, 53, 17, 0.7),
    -0.5px -0.5px 0px rgb(250, 127, 127),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(44, 53, 44, 0.5);
    border: 1px solid rgba(0, 0, 0, .1);

  }

  .media .facebook:hover{
    background-color: rgb(118, 169, 236);
  }
  .media .instagram:hover{
    background-color: rgb(231, 111, 111);
  }
  .media .whatsapp:hover{
    background-color: rgb(107, 226, 107);
  }
  .media .gmail:hover{
    background-color: rgb(228, 174, 105);
  }
  

  