
.main-image{
  text-align: center;

}

.kid-kick{
  width: 100%;
  height: 550px;
  
}
.main-image{
  position: relative;
}

.glow h1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -400px;
  padding-bottom: 90px;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-text-stroke: 1px black;
   color: rgb(114, 236, 245);
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.glow p{
  margin-top: -70px;
  padding-bottom: 10px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  height: 90px;
  color: #868686;
}

.btn{
  background-color: #49b7d3;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
  border-style: dashed;
}

.btn:hover {
  background-color: #39b14d;
  color:#ffffff;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(23, 141, 52); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dd1b1b; 
}

body{
  padding: 0;
  margin: 0;
  background-color: #ddd;
}

ul{
  margin: 0;
  padding: 0;
  float: right;
}

header{
  color: #ddd;
  background: #353637;
  padding-top: 20px;
  min-height: 50px;
  border-bottom: #2aa553 5px solid;
}

header a {
  color: #ddd;
  text-decoration: none; 
  font-size: 19px;
}
header .home{
  color: #21ce3e;
}

header li{
  display: inline;
  padding: 0 20px 0 20px;
}

header #brand img{
  margin: -50px 30px;
  height: 100px;
  float: left;
  width: auto;

}

ul #point{
  color: #353637;
}

header a:hover{
  color: #21ce3e;
} 

.services{
  text-align: center;
  justify-content: center;
}
.services img{
  height: 140px;
  width: 200px;
}


.services img:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}

.span #a-img{
  justify-content: space-between;
  cursor: pointer;
  
}

.about{
  background-color: black;
  color: #ffffff;
  padding-bottom: 60px;
  background-image: url(wallpaperflare.com_wallpaper.jpg);

}
.about h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  padding-bottom: 30px;
}

body h1{
  font-size: 32px;
  text-transform: uppercase;
  padding-top: 50px;

}

/*.................our features....................*/
.features{
  background-color: black;
  padding-bottom: 5px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  background-image: url(wallpaperflare.com_wallpaper.jpg);
}

.features h1{
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.features h2{
  color: white;
  text-align: center;
  font-size: 18px;
}

.our-features{
  display: block;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-right: 15px;
  padding-left: 15px;

}

.our-features .col{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  justify-content: center;
}

.features-img{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: inline-block;
  background-color: tomato;
  transition: all 0.3s;
  margin-bottom: 30px;
}

.features-img img{
  height: 60px;
  width: 60px;
  margin-top: 15px;
}








footer{
  padding: 20px;
  margin-top: 20px;
  color: aliceblue;
  background-color: rgb(34, 34, 34);
  text-align: center;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0px;

}
